body{
  background-color: #75cac3;
}
#bienvenida {
  text-align: center;
  background-color: #be3737;
  color: #f1fff1;
  border-style:dotted;
  border-width:5px;
  border-color:#6a0000;
  border-radius:50px;
}
#cifrar1 {
  text-align: center;
  background-color: #be3737;
  color: #f1fff1;
  border-style:dotted;
  border-width:5px;
  border-color:#6a0000;
  border-radius:50px;
}
#cifrar2 {
  text-align: center;
  background-color: #be3737;
  color: #f1fff1;
  border-style:dotted;
  border-width:5px;
  border-color:#6a0000;
  border-radius:50px;
}
#descifrar1{
  text-align: center;
  background-color: #be3737;
  color: #f1fff1;
  border-style:dotted;
  border-width:5px;
  border-color:#6a0000;
  border-radius:50px;
}
#descifrar2{
  text-align: center;
  background-color: #be3737;
  color: #f1fff1;
  border-style:dotted;
  border-width:5px;
  border-color:#6a0000;
  border-radius:50px;
}
h1{
  text-align: center;
}
.text{
  text-align: center;
  background-color: #f1fff1;
  color: #6a0000;
  border-style:solid;
  border-width:3px;
  border-color:#6a0000;
  border-radius:50px;
}
.button{
  text-align: center;
  background-color: #c4f0c5;
  color: #6a0000;
  border-style:solid;
  border-width:3px;
  border-color:#6a0000;
  border-radius:50px;
}
